@model NKKhoan.Areas.Admin.ViewModels.JobListBoxViewModel

<div class="form-group">
    @Html.LabelFor(model => model.jobName, htmlAttributes: new { @class = "control-label col-md-3" })
    <a class="btn btn-primary" href="~/Admin/Job/Create">
        <i class="fas fa-plus"></i>
    </a>
    <div class="col-md-10">

        @Html.ListBoxFor(model => model.selectedjob, Model.jobs, new { @class = "form-control selectpicker", data_live_search = "true" })
    </div>
</div>